.calculate {
    display: block;
    
}
/* #saving-btn{
    display: block;
    background-color: rgb(59, 132, 243);
} */
.title{
    color: #16aa5b;
    
    
}
.calculation{
    background-color: rgb(243, 239, 242);
}
.error{
    background-color: rgb(27, 26, 26);
    color: #e72323;
    display: none;
    margin-top: 20px;
    margin-left: 10px;
}
.string-error{
    background-color: rgb(27, 26, 26);
    color: rgb(231, 35, 35);
    display: none;
    margin-top: 20px;
    margin-left: 10px;
}